/* CSS configurations written by: kaco*/

/*Global configurations*/

body{
    /* Display size configurations*/
    min-width:    375px;
    height:       auto;
    max-height:   1080px;
    
    /* Font configurations*/
    font-family: 'sans-serif', sans-serif;

    /* Background color*/
    background: var(--primary-DEFAULT) none repeat scroll 0% 0%;

    /*Color theme*/
    --primary-DEFAULT:      #fbfdfe;
    --secondary-color:      #EEC900;
    --terciary-color:       #0f1419;
    --primary-text:         #0f1419;
    --primary-text-light:   #6c6c6c;  
  
  }
  
  /* Font parameters*/
  h1,h2,h3{
    font-weight: 720;
    color: var(--primary-text)
  }

  
  h4,h5{
    font-weight: 500;
    color: var(--primary-text)
}

.w3-col.m8{
  width: 63.7% !important;
}

.w3-twothird{
  width: 63.7% !important;
}

.ayellow {
  color: var(--terciary-color);
  font-weight: 500;
  text-decoration: none;
}

/*Menu configurations*/

/* Left image*/

.logo-box{
  position: relative;
  width: 1040px;
  height: 100%;
}

.logo-menu-box{
  position: relative;
  bottom: 0vh;
  left: 8vw;
}

#main-img {
  position: relative;
  max-width: 100%;
  height: auto;

}


/* Right part: login box*/

.menu-box{
  position: relative;
  top: 90px;
}

.login-box{
  position: relative;
  top: 20px;
}


.display-topright{
  position: absolute;
  right: 0px;
  bottom: 540px;
}

.menu-msg-style{
  font-size: 2.3vw;
}

#user_id {
  position: relative;
  left: 1vw;
}

#password_id {
  position: relative;
  left: 0.1vw;
}

#id_remember {
  position: relative;
  right: 0vw;
}

.remember-login-box {
  position: relative;
  right: 5.0vw;
}

.button-style{
  background-color: var(--secondary-color) !important;
  width: 320px;
}

.register-box{
  position: relative;
  width: 100%;
  height: 6vh;
  margin-top: 30px;
}

.register-msg{
  position: relative;
  top: 2vh;
}



.passwd-reset-box{
  position: relative;
  top: 2vh;
}

/* Footer configurations*/

.footer-box{
  padding-left: 200px;
  padding-right: 200px;
  background-color: #fcfbf4;
}

.link-footer {
  position: relative;
  top: 14px;
  font-size: 75%;
} 